{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% url 'main' as main %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        {% include 'base/navbar.html' %}
    </header>
    <div class="img_main">
        {% block main %}
        {% endblock main %}
    </div>
    <main class="container">
        {% block breadcrumb %}
        {% endblock breadcrumb %}
        <div class="row mt-3">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <footer>
        <a href="{{main}}"><img class="logo" src="{% static 'img/logo.png' %}">Alnus</a>
        <p>Tu mejor decición</p>
    </footer>
    <script src="{% static 'js/main.js' %}" crossorigin="anonymous"></script>
    <!--<script src="https://kit.fontawesome.com/ed5652a487.js" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>