{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        {% include 'base/navbar.html' %}
    </header>
    <main class="container">
        <div class="row">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <script src="{% static 'js/main.js' %}" crossorigin="anonymous"></script>
</body>
</html>