{% url 'login' as login %}
{% url 'register' as register %}
{% url 'main' as main %}
{% url 'logout' as logout %}
{% url 'carts:carts' as cart %}

{% load static %}

<nav class="navbar navbar-expand -md bg-dark nabbar-dark">
    <a href="{% url 'products:index' %}" class="navbar-brand titulo"><img class="logo" src="{% static 'img/logo.png' %}"> Alnus</a>
    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle='collapse' data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navb" class="navbar-collapse hide">
        <ul class="navbar-nav carrito">
            <li class="nav-item {% if request.path == cart %}activate{% endif %}"><a class="nav-link" href="{{cart}}">Mi carrito <i class="fas fa-cart-shopping"></i></a></li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
                <li class="navbar-item"><a class="nav-link {% if request.path == main%}activate{% endif%}" href="{{main}}">Inicio</a></li>
                <li class="navbar-item"><a class="nav-link {% if request.path == logout%}activate{% endif%}" href="{% url 'products:index' %}">productos</a></li>
            {% if user.is_authenticated %}
                <li class="navbar-item"><i class="fa fa-circle-user"></i></li>
                <li class="navbar-item"><a class="nav-link {% if request.path == logout%}activate{% endif%}" href="{{logout}}">Salir <i class="fas fa-right-to-bracket"></i></a></li>
            {% else %}
                <li class="navbar-item"><a class="nav-link {% if request.path == login %}activate{% endif%}" href="{{login}}">Ingresar <i class="fas fa-right-to-bracket"></i></a></li>
                <li class="navbar-item"><a class="nav-link {% if request.path == register %}activate{% endif%}" href="{{register}}">Registrarse <i class="fas fa-right-to-bracket"></i></a></li>
            {% endif %}
        </ul>
    </div>
 </nav>
 <!--Para poner el el footer
<a href="https://www.flaticon.es/iconos-gratis/hoja" title="hoja iconos">Hoja iconos creados por Freepik - Flaticon</a>
-->