{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <title>J-Store</title>
</head>
<body>
    <header>
        {% include 'base/navbar.html' %}
    </header>
    <div class="bienvenida">
        {% if messages %}
            {% for messages in messages %}
                <div class="alert {% if messages.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}" id="alert">
                    <button type="button" class="close" data-dismiss="alert"> X </button>
                    {{messages}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <main class="container">
        <div class="row">
            <div class="col">
                <h1>{{message}}</h1>
                <ul class="productos">
                    {% for products in object_list %}
                        <li class="List-group-item">
                            {{products.title}}
                            <span class="text-succes">{{products.price}}</span>
                        </li>
                    {% empty %}
                        <h3>No hay productos en la tienda</h3>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>