{% extends 'base/base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Registro</h1>
            <form method="POST" class="register">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group" id="field_registro">
                        {{field.label_tag}}
                        {{field}}

                        {% if field.errors %}
                            <div class="alert alert-succes" id="alert">
                                <button type="button" class="close" data-dismiss="alert"> X </button>
                                {{field.errors}}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="bnt_registro">
                    <button class="btn btn-primary" type="submit">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}