{% extends 'base/base.html' %}}
{% load static %}
{% block title %}
    Orden
{% endblock title %}
{% block breadcrumb %}
    {% include 'snippets/breadcrumb.html' %}
{% endblock breadcrumb %}
{% block content %}
    <div class="col-8">
        <div class="h3">
            Revisa Tu Pedido :)
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in cart.products.all %}
                            {% include 'snippets/products.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        {% url 'orders:address' as next_url %}
        {% include 'snippets/resume.html' with next_url=next_url %}
    </div>
{% endblock content %}