{% extends 'base/base.html' %}}
{% load static %}
{% block title %}
    pago
{% endblock title %}
{% block breadcrumb %}
    {% include 'snippets/breadcrumb.html' %}
{% endblock breadcrumb %}
{% block content %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/stripe_styles.css' %}">
<script src="https://js.stripe.com/v3/"></script> {% endcomment %}

<div class="col">
  <div class="h3">
    Metodo de pago
  </div>
  <div class="mt-2">
    <a href="{% url 'orders:confirm' %}" class="btn btn-warning">continuar</a>
  </div>
</div>

{% comment %} <script src="{% static 'js/stripe.js' %}"></script> {% endcomment %}
{% endblock content %}