body{
    background-attachment: fixed;
    background-size: cover;
    font-family: Helvetica, Arial,sans-serif; 
    font-size: 18px; 
}

/*barra de desplazamiento invisible*/
body::-webkit-scrollbar {
    display: none;
  }

.form_login{
    padding: 2%;
    background-color: rgba(117, 117, 121, 0.486);
}

.col{
    display: inline-block;
    margin-top: 1%;
    padding: 3%;
    width: 5%;
    height: 100%;
}

/*main*/
.img_main{
    margin-top: 3%;
}
.main{
    font-size: 120%;
    margin-top: 2%;
}
.section1{
    font-size: 180%;
    text-align: center;
    font-style: italic;
    width: 100%;
}
.section1 img{
    margin: 0;
    width: 100%;
}
#online{
    float: left;
    margin-right: 2%;
}
.section2{
    background-color: rgba(124, 117, 110, 0.5);
    height: 310px;
    padding: 1%;
}
.section2 h2{
    text-align: center;
    font-style: italic;
    margin: 2%;
}
