.col .register div{
    width: 40%;
    display: inline-block;
}

.col form #field_registro input{
    width: 90%;
}

.col form div input{
    width: 50%;
}

#alert{
    background-color: rgba(70, 70, 70, 0.644);
    color: white;

}