/*------header----------*/
.navbar-brand{
    font-size: 40px;
    color: white
}

nav li a {
    color: white;
}

.nav li i{
    color: white;
}

.titulo{
    width: 150spx;
}

.logo{
    width: 60px;
    filter: invert(100%);
}

.fa-circle-user{
    filter: invert(0%);
}
