/*------header----------*/
.navbar-brand{
    font-size: 40px;
    color: white
}

nav li a {
    color: white;
}

.nav li i{
    color: white;
}

.titulo{
    width: 150spx;
}

.logo{
    width: 60px;
    filter: invert(100%);
}

#user{
    font-size: 35px;
    padding: 2%;
    color: rgba(240, 240, 240, 0.884);
}

.dropdown-menu{
    width: 30px;
    position: absolute;
    left: 85%;
    background-color: rgba(117, 117, 121, 0.87);
}

.nameUser{
    text-align: center;
}


