.card-title{
    height: 40px;
}

.card-text{
    margin-top: 20%;
}

.card-body{
    font-family: Helvetica, Arial,sans-serif; 
    font-size: 20px; 
}

/*ordenes*/
.resume{
    padding: 7%;
}

/*breadcrum*/
.breadcrumb{
    height: 12%;
}
.breadcrumb ol{
    color: rgba(65, 61, 57, 0.747);
}
.breadcrumb ol li a{
    color: inherit;
}
