/*Aqui se encuentran los estilos para productos, carrito y el proceso de compra*/

.card-title{
    height: 40px;
}

.card-text{
    margin-top: 20%;
}

.card-body{
    font-family: Helvetica, Arial,sans-serif; 
    font-size: 20px; 
}

/*ordenes*/
.resume{
    padding: 7%;
}

/*breadcrum*/
.breadcrumb{
    height: 12%;
}
.breadcrumb ol{
    color: rgba(65, 61, 57, 0.747);
}
.breadcrumb ol li a{
    color: inherit;
}

/*shipping*/
.address{
    padding: 5%;
    background-color: rgba(117, 117, 121, 0.486);
}
.address input{
    width: 60%;
}
